/* variable */
:root {
	--bg: white;
	--bg2: #f7f4f4;
	--color: #192735;
	--json-color: red;
	--script-color: blue;
	--circles-color: #a7a4a4;
}
* {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
body {
	margin: 0 auto;
	background-color: var(--bg);
	font-size: 15px;
	color: var(--color);
	transition: background-color 0.5s ease-in-out;
}
.darkmode {
	--bg: #283541;
	--bg2: rgb(22, 32, 43);
	--color: rgb(230, 228, 228);
	--json-color: rgb(233, 119, 119);
	--script-color: rgb(7, 243, 27);
	--circles-color: rgb(10, 14, 19);
}
.display-3 {
	font-size: 50px;
	padding: 0;
}
.header {
	z-index: 99;
}
.active--exact {
	border-bottom: 3px solid #09f088;
	pointer-events: none;
}
button {
	border: none;
	outline: none;
	background: none;
}
ul {
	list-style: none;
}
li {
	list-style: none;
}

/* key frames */
@keyframes scaleDiv {
	0% {
		transform: rotate(0) scale(0.2);
		opacity: 0.2;
	}
	20% {
		transform: scale(0.4);
		opacity: 0.4;
	}
	40% {
		transform: scale(0.6);
		opacity: 0.6;
	}
	60% {
		transform: scale(0.8);
		opacity: 0.8;
	}
	80% {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes scaleCircles {
	0% {
		transform: scale(1);
		opacity: 0.1;
	}
	50% {
		transform: scale(1.3);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0.1;
	}
}
