:root {
    --bg: white;
    --bg2: rgb(240, 243, 241) ;
    --color: #34495e ;
}
*{
    box-sizing: border-box; 
    font-family:'Roboto', sans-serif;   
}
body {
    margin: 0 auto;   
    background-color: var(--bg);
    font-size: 15px;
    color: var(--color);
    transition: background-color 0.5s ease-in-out;
}
.display-3 {
    font-size: 50px;
    padding: 0;
}
.header {
    z-index: 99;
}
.active--exact {
    border-bottom: 4px solid rgb(11, 230, 127);
    cursor: text;
  }
button {
    border: none;
    outline: none;
    background: none;
}
ul  {
    list-style: none;
}
li {
    list-style: none;
}
